.container.testimonials_container {
  width: 90%;
  padding-bottom: 4rem;
}

.testimonial {
  background: var(--color-bg-variant);
  text-align: center;
  padding: 2rem;
  border-radius: 2rem;
  user-select: none;
  cursor: grab;
}

.testimonial_logo{
  display: inline;
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

.logo_and_text{
  
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.client_avatar {
  width: 4rem;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto 1rem;
  border: 0.4rem solid var(--color-primary-variant);
}

.client_title {
  padding-top: 1rem;
}

.client_review {
  color: var(--color-light);
  font-weight: 300;
  display: block;
  width: 80%;
  margin: 0.8rem auto 0;
}

.swiper-pagination-bullet {
  background: #FFF !important
}

.linkedin_source {
  color: #0077b5;
}

.local_source {
  color: white;
}

.upwork_source {
  color: green;
}

.container.testimonials_container {
  width: 90%;
  padding-bottom: 0rem;
}

/* ==================== Media Queries (Medium Devices) ======================= */

@media screen and (max-width: 1024px) {
  .container.testimonials_container {
    width: 60%;
  }
}

/* ==================== Media Queries (Small Devices) ======================= */

@media screen and (max-width: 600px) {
  .container.testimonials_container {
    width: var(--container-width-sm);
  }

  .client_review {
    width: var(--container-width-sm);
  }
}
